// Specific CSS for your home-page
header {
  background-color: #f8f9fa;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

.hero {
  background-image: url('https://via.placeholder.com/150');
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 100px 20px;
}

.listings {
  padding: 20px;
}

.listing-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.listing-card {
  width: calc(33.33% - 20px); /* Adjust as needed */
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  text-decoration: none;
  color: black;
}

.listing-card:hover {
  transform: translateY(-5px);
}

.listing-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  // border-top-left-radius: 8px;
  // border-top-right-radius: 8px;
}

.listing-details {
  padding: 20px;
}

.listing-details h3 {
  margin-top: 0;
}

.listing-details p {
  margin-bottom: 10px;
}

.listing-details span {
  font-weight: bold;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
