<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Your HTML code -->
<div class="navigation">
  <nav class="left-nav">
    <ul class="nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="/explore">Explore</a></li>
      <!-- Additional navigation items as needed -->
    </ul>
  </nav>
  <nav class="right-nav">
    <ul class="nav-list">
      <% if current_user %>
        <li class="user-info">
          <img class="avatar" src="https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjkzNy1hZXctMTY1LWtsaGN3ZWNtLmpwZw.jpg" alt="Avatar">
          <%= current_user.first_name %> <%= current_user.last_name %>
          <div class="dropdown-content">
            <a href="/accountinformation">Account Info</a>
          </div>
        </li>
        <li>
          <a href="<%= destroy_user_session_path %>" data-turbo-method="delete">Logout</a>
        </li>
      <% else %>
        <li><a href="/users/sign_up">Sign Up</a></li>
        <li><a href="/users/sign_in">Log In</a></li>
      <% end %>
    </ul>
  </nav>
</div>

<!-- Your CSS styles -->

<!-- Your JavaScript code -->
<script>
  $(document).ready(function() {
    $('.user-info').on('click', function() {
      $(this).find('.dropdown-content').toggle();
    });
  });
</script>
